@model List<TLogin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Clientes
</h2>
<div class="row" style="margin: 30px 0; text-align: right">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" data-toggle="tooltip" title="Cadastrar"
           href="@Url.Action(MVC.Login.Cadastrar())">
            <i class="fas fa-plus"></i> Cadastrar
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th class="header">
                        Login
                    </th>
                    <th class="header">
                        Senha
                    </th>
                    <th class="header text-center">
                        Logar
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Login
                            </td>
                            <td>
                                @Password
                            </td>
                            <td class="text-center">
                                <a class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar"
                                   href="@Url.Action(MVC.Login.Editar(item.Id))">
                                    <i class="fas fa-pencil"></i> Editar
                                </a>
                                <button type="button" class="btn btn-danger btn-xs ajax-modal" data-toggle="tooltip" title="Excluir"
                                        href="@Url.Action(MVC.Login.Excluir(item.Id))">
                                    <i class="fas fa-trash"></i> Excluir
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="15" class="text-center">
                            <strong>Nenhum registro encontrado</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

