@inherits ModelWebViewPage<TReservation>
@{
    ViewBag.Title = "Reserva - Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Reserva - Cadastrar
</h2>

@Html.Partial("_form", Model)

